:root {
  --text: #32292f; //custom-black
  --textContrast: #b1b2b2;
  --backgroundContrast: #1a202c; // gray-900 tailwind
  --background: #f0f7f4; // custom-gray
  // --primary: #70abaF; // custom-blue
  --primary: #99e1d9; // custom-turq
  --secondary: #70abaf; // custom-turq
  --layoutBorder: #d0d5d3; // "custom-mono-2"
  --blackAndWhite: '0, 0, 0';
}
