.home-link {
  font-family: 'Libre Caslon Display', 'Times New Roman', serif;
  font-size: 2rem;
  color: var(--text);
  @screen md {
    font-size: 2.5rem;
  }
}

.nav-open {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.nav-styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    font-family: 'Libre Caslon Display', 'Times New Roman', serif;
    font-size: 1.5rem;
    @screen xsm {
      font-size: 1.7rem;
    }
    @screen lg {
      font-size: 2rem;
    }
  }
  ul {
    padding-left: 1.5rem;
  }
  .sub-link {
    font-size: 0.8rem;
    @screen xsm {
      font-size: 0.85rem;
    }
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 0.3rem;
    position: relative;
    list-style-position: outside;
    &:before {
      position: absolute;
      content: '';
      left: -0.5rem;
      top: 0.5rem;
      height: 3px;
      width: 3px;
      background: var(--text);
    }
  }
}
.nav-lists > li:not(:first-child) {
  padding-top: 0.5rem;
  @screen lg {
    padding-top: 1rem;
  }
}

footer {
  a {
    font-family: 'Libre Caslon Display', 'Times New Roman', serif;
    font-size: 1.3rem;
    color: var(--textContrast);
    line-height: 1.5;
    @screen lg {
      font-size: 1.5rem;
    }
  }
  li {
    line-height: 1;
  }
  .sub-link {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 0.75rem;
    color: var(--textContrast);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0 0 0 1.5rem;
    position: relative;
    white-space: nowrap;

    &:before {
      position: absolute;
      content: '';
      left: -0.5rem;
      top: 0.5rem;
      height: 3px;
      width: 3px;
      background: var(--textContrast);
    }
  }
  .text-offwhite {
    color: var(--textContrast);
  }
}
// ----------------------------------------------- Mobile Nav button

button:focus {
  outline: none;
}

.hamburger {
  z-index: 151;

  &:hover,
  &.is-active:hover {
    opacity: 1;
  }

  .hamburger-inner:before,
  .hamburger-inner:after,
  .hamburger-inner {
    background: var(--text);
  }

  &.is-active {
    color: var(--text);

    .hamburger-inner:before,
    .hamburger-inner:after,
    .hamburger-inner {
      background-color: var(--text);
      --bg-opacity: 1;
    }
  }
}

// -------------------------- artNav
.art-nav {
  position: fixed;
  z-index: -1;
  height: auto;
  background-color: white;
  width: 16rem;
  display: none;
  margin-top: 6.2rem;

  @screen lg {
    display: block;
  }
  .heading {
    font-family: 'Libre Caslon Display', 'Times New Roman', serif;
    font-size: 2rem;
    color: var(--text);
  }
}

.art-category-nav {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  &:after,
  &:before {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    width: 10px;
    height: 1px;
    background-color: #372717;
  }
  &:before {
    transform: rotate(-90deg);
    transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  &.isActive {
    &:before {
      transform: rotate(0deg);
    }
  }
}

.category-image-grid {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  &.is-active {
    height: calc(100vh - 10.95rem);
    overflow-y: scroll;
  }
  // scroll shadows
  background: linear-gradient(white 30%, hsla(0, 0%, 100%, 0)), linear-gradient(hsla(0, 0%, 100%, 0) 10px, white 70%) bottom,
    radial-gradient(at top, rgba(0, 0, 0, 0.2), transparent 70%), radial-gradient(at bottom, rgba(0, 0, 0, 0.2), transparent 70%) bottom;
  background-repeat: no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  background-attachment: local, local, scroll, scroll;

  // /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.art-thumb {
  opacity: 0.5;
  &.is-active {
    opacity: 1;
  }
}
