.st0 {
  fill: #e8e8e8;
}
.st1 {
  fill: #161616;
}
.st2 {
  fill: #ffffff;
  stroke: #161616;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st3 {
  opacity: 0.4;
  fill: #666666;
}
.st4 {
  opacity: 0.5;
  fill: #666666;
}
.st5 {
  fill: #161616;
  stroke: #161616;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st6 {
  opacity: 0.38;
  fill: #666666;
}
.st7 {
  fill: #666666;
}
.st8 {
  opacity: 0.48;
  fill: #666666;
}
.st9 {
  opacity: 0.47;
  fill: #666666;
}
.st10 {
  opacity: 0.46;
  fill: #666666;
}
.st11 {
  fill: #ffffff;
}
.st12 {
  opacity: 0.41;
  fill: #666666;
}
.st13 {
  fill: #ffffff;
  stroke: #161616;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
