html {
  font-size: 17px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: var(--text);
}

h1,
.h1 {
  font-family: 'Libre Caslon Display', 'Times New Roman', serif;
  font-size: 3.2rem;
  color: var(--text);
  margin-bottom: 2rem;
  @screen md {
    font-size: 3.7rem;
  }
}

h2,
.h2 {
  font-family: 'Libre Caslon Display', 'Times New Roman', serif;
  font-size: 3rem;
  color: var(--text);
  margin-bottom: 1.5rem;
}

h3,
.h3 {
  font-family: 'Libre Caslon Display', 'Times New Roman', serif;
  font-size: 2.5rem;
  color: var(--text);
  margin-bottom: 1.5rem;
}

h4,
.h4 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: var(--text);
  margin-bottom: 1rem;
}

h5,
.h5 {
  font-family: 'Libre Caslon Display', 'Times New Roman', serif;
  font-size: 1.5rem;
  color: var(--text);
  margin-bottom: 1rem;
}
h6,
.h6 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 0.85rem;
  color: var(--text);
  text-transform: uppercase;

  letter-spacing: 0.2em;
  margin-bottom: 1rem;
}

p,
.p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: var(--text);
  font-weight: 300;

  @screen md {
    font-size: 1rem;
  }
}

blockquote,
blockquote p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  margin: 2rem 1rem;
  color: var(--text);
  font-weight: 300;

  @screen md {
    margin: 2rem;
  }
}

// --------------------------
.text {
  color: var(--text);
}
.text-contrast {
  color: var(--textContrast);
}
.sub-heading {
  position: relative;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.25rem;
  color: var(--text);
  text-transform: uppercase;

  letter-spacing: 0.2em;
  width: fit-content;
  margin: 0 auto 2rem;
}

.sub-heading:before,
.sub-heading:after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2px;

  bottom: 0.9rem;
  background: var(--text);
}

.sub-heading:before {
  left: -2.5rem;
}
.sub-heading:after {
  right: -2.4rem;
}
//-------------------------------------

.btn {
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.1em;
  width: fit-content;
  cursor: pointer;
}
.btn:before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  right: 0;
  width: 25px;
  height: 2px;
  background: var(--text);
  transition: width 300ms ease-in;
  margin: 0 auto;
}

.btn:hover:before {
  width: 100%;
}

.blog-text {
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  overflow: hidden;
  margin: 0 2rem;
}

.footer-link {
  font-family: 'Libre Caslon Display', 'Times New Roman', serif;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.featured-blog-text {
  right: 0;
  left: 0;
  top: 30%;
  margin: 0 1rem;
  @screen sm {
    margin: 0;
    right: 0;
    top: 50%;
    left: auto;
    transform: translate(-10%, -30%);
  }
}

.newsletter-signup-form {
  a {
    font-weight: bold;
  }
}

.markdown {
  a {
    text-decoration: underline;
  }
}
