.min-h-400 {
  min-height: 400px;
}
.min-h-500 {
  min-height: 500px;
}

.bg-opacity-90 {
  --bg-opacity: 0.9;
}

.h-half {
  height: 50%;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  margin: 4rem 3rem;
  @screen sm {
    margin: 4rem 8rem;
  }
  @screen md {
    margin: 4rem 12rem;
  }
  @screen lg {
    margin: 4rem 15rem;
  }
}

.z-100 {
  z-index: 100;
}
.artwork-grid {
  @screen lg {
    display: grid;
    grid-template-columns: 15rem auto;
    .artwork-space {
      grid-column: 2 / 3;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.footer-padding {
  padding-bottom: 26.8235294118rem;
  @screen sm {
    padding-bottom: 17.2058823529rem;
  }
  @screen lg {
    padding-bottom: 12.4705882353rem;
  }
}
