.min-h-400 {
  min-height: 400px;
}
.min-h-500 {
  min-height: 500px;
}

.bg-opacity-90 {
  --bg-opacity: 0.9;
}

.h-half {
  height: 50%;
}

hr {
  border-top: 1px solid var(--text);

  margin: 4rem 3rem;
  @screen sm {
    margin: 4rem 8rem;
  }
  @screen md {
    margin: 4rem 12rem;
  }
  @screen lg {
    margin: 4rem 15rem;
  }
}

.z-100 {
  z-index: 100;
}
